section {
    max-width: 700px;
    margin: 2em auto;
}
mat-form-field {
  width: 100%;
}
img {
  width: 100%;
}
::ng-deep .mat-focused .mat-form-field-label {
  color: white !important;
}
::ng-deep.mat-form-field-underline {
  background-color: white !important;
} 
::ng-deep.mat-form-field-ripple {
 background-color: white !important;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #B1A296;
  color: black;
  font-family: 'norwester';
}

h2{
  color: rgba(255, 255, 255, 0.788);
}
